.rules-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 40px;
}

.rules-image {
    width: 600px;
}

.rules-container_description {
    width: 600px; 
}

.rules-title{
    transition: all 400ms;
    font-family: var(--primaryFont);
    color: var(--teal);
}

.rules-title:hover {
    color: var(--teal);
}

.rules-description{
    margin-top: 20px;
    font-family: var(--primaryFont);
}